{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>{{ heading }}</h1>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark" type="submit">Save job</button>
                <a class="btn btn-link" href="{% url 'jobs:dashboard' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}